extends index
block content
	h2(class="title") Login
	div(id="login")
		input(class="form-control log",placeholder="username" id="username" required)
		input(class="form-control log",placeholder="password",type="password",id="password" required)
		img(src="img/plus.png",id="plus_login")