extends index2
block content
	#myHabits
		h1 My Habits
		ul
			each habit in habits
					li
						a(href="/myhabits/"+habit._id)
							= habit.title
						a(href="/myhabits/rem/"+habit._id)
							button(class="btn btn-success sm_marg") Remove
						</br></br>
