extends index
block content
	h2(class="title") Register	
	input(class="form-control log",placeholder="username" id="username" required)
	input(class="form-control log",placeholder="password",type="password",id="password" required)
	input(class="form-control log",placeholder="confirm-password",type="password",id="con_password" required)
	img(src="img/plus.png",id="plus_login")